{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "flowtype"
    ],
    "rules": {
        "indent": ["error", 4],
        "no-underscore-dangle": "off"
    },
    "env": {
        "jasmine": true
    }
}
