<!DOCTYPE html>
<html>
<head>
    <title>{{page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{static_base_url}}/styles/main.css" rel="stylesheet" integrity="{{{sri_hashes.css}}}">
</head>
<body>
{{{body}}}
</body>
</html>
