<div id="main">
    <p class="loading-message">You must have JavaScript enabled to use this service.</p>
</div>
<script> document.querySelector('.loading-message').innerHTML = 'Loading, please wait...'; </script>
<script src="{{static_base_url}}/js/bootstrap.js" crossOrigin="anonymous" integrity="{{{sri_hashes.js}}}"></script>
